<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
<body>
<h1>Login Service !</h1>
<h1></h1>
<h1>Le Login service est un service-module crée par la société HB--QCI.</h1>
<h1>Il est notamment utilisé dans l'application pour lancer le serveur.</h1>
<h1>Pour l'utiliser, il faut juste :</h1>
<h1>-Python 3 en local</h1>
<h1>-Un ordinateur ou serveur distant.</h1>
<h1>-Le fichier "ModLogSer.py"</h1>
<h1></h1>
<h1>Pour le lancer :</h1>
<h1>Utiliser la ligne :</h1>
<h1>-"import ModLogSer"</h1>
<h1>-Puis la ligne "ModLogSer.LoginService()"</h1>
<h1>/!\Elle sert à éxecuter le Login Service (Il faut la placer ou voulez lancer le module).</h1>
<h1>Exemple :</h1>
<h1>print("Bonjour")</h1>
<h1>ModLogSer.LoginService()</h1>
<h1>print("Au revoir")</h1>
<h1></h1>
<h1>Résultat :</h1>
<h1>Bonjour</h1>
<h1>[Résultat du Login Service]</h1>
<h1>Au revoir</h1>

</body>
</html>